<h2>Book Detail for: <span><%= @book.name %><span></h2>

  <%= link_to "Book List", books_path %>
  <%= link_to "New Book", new_book_path %>
  <p>

  </p>
  <p>--------------------------------------------------------------</p>
  <p>
    <span>ISBN: </span>
    <%= @book.isbn %>
  </p>
  <p>
    <span>Description: </span>
    <%= @book.description %>
  </p>

  <%= form_tag edit_option_path, method: "get" do %>
  <%= submit_tag "Edit", class: 'btn btn-default btn-xs' %>
  <% end %>

<%= form_tag delete_book_path, method: "delete" do %>
<%= submit_tag "Delete", class: 'btn btn-default btn-xs' %>
<% end %>
