<h1>Welcome to my Library</h1>

<%= link_to "Book List", books_path %>
<%= link_to "New Book", new_book_path %>
<%= link_to "Reservation List", reservations_path %>

<% @books.each do |book| %>
  <p>

  </p>
  <p>--------------------------------------------------------------</p>

  <h4>
  <%= link_to book.name, book_path(book.id) %>
  </h4>

  <p>
    <%= link_to "Create Reservation", new_reservation_path(book.id) %>
  </p>
<% end %>
