<h1>New Book Input</h1>

<% @book.errors.full_messages.each do |error| %>
  <%= error %>
<% end %>


<%= form_tag books_path do %>
  <%= label_tag "book[name]", "Name" %>
  <%= text_field_tag "book[name]", @book.name %>


  <%= label_tag "book[isbn]", "ISBN" %>
  <%= text_field_tag "book[isbn]", @book.isbn%>


  <%= label_tag "book[description]", "Description" %>
  <%= text_field_tag "book[description]", @book.description %>

  <%= submit_tag %>
<% end %>
